node_modules
old_delme
.DS_Store
testing_openbabel
*.swp
TODO.md
rsync.sh
src/Webina/notes.txt
src/Webina/src/new/
src/Webina/src/orig/
src/example/small/
src/example/src/
dist
webina.zip
deepfrag.zip
**/old/**
**/*.old/**
update.sh
javascript_grid_gen.bak*
scripts_old
*ipynb*
old
tmp
*.pyc
.DS_Store
__target__
__pycache__
technical_docs
